/* Fontes */
@font-face {
    font-family: "Arcade-In";
    src: url("../fonts/8-bit\ Arcade\ In.ttf") format("truetype");
}
  
@font-face {
    font-family: "Arcade-Out";
    src: url("../fonts/8-bit\ Arcade\ Out.ttf") format("truetype");
}
  
@font-face {
    font-family: "8-Bit";
    src: url("../fonts/Diary\ of\ an\ 8-bit\ mage.otf") format("truetype");
}

#conteudo {
    width: 100vw;
    height: 100vh;
}
