/* Fontes */
@font-face {
  font-family: "Arcade-In";
  src: url("../fonts/8-bit\ Arcade\ In.ttf") format("truetype");
}

@font-face {
  font-family: "Arcade-Out";
  src: url("../fonts/8-bit\ Arcade\ Out.ttf") format("truetype");
}

@font-face {
  font-family: "8-Bit";
  src: url("../fonts/Diary\ of\ an\ 8-bit\ mage.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/stars-3.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#conteudo {
  width: 100;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  /* background-color: aqua; */
}

#header {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20vh;
  /* background-color: red; */
}

#matches_text {
  position: relative;
  width: 30%;
  margin-left: 27%;
  /* background-color: aqua; */
}

#text_1 {
  font-family: "Arcade-In", sans-serif;
  font-size: 700%;
  color: white;
  margin-left: 5%;
}

#text_2 {
  font-family: "Arcade-Out", sans-serif;
  font-size: 700%;
  color: purple;
  position: absolute;
  left: 5%;
}

#menu {
  width: 10%;
  color: white;
  font-family: "Arcade-In";
  font-size: 300%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: brown; */
}

#menu a {
  margin-left: 10%;
  margin-top: -5%;
  text-decoration: none;
  color: white;
}

/* Indicações de conteúdo */

#creators {
  height: 100vh;
  width: 80vw;
  /* background-color: blue; */
}

#frame_creators {
  background-image: url(../assets/cardboarder-70.png);
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  /* background-color: brown; */
}

.header_cards {
  height: 10%;
  font-family: "8-bit";
  font-size: 2vmax;
  /* background-color: aquamarine; */
}

.cards {
  display: flex;
  height: 60%;
  /* background-color: blueviolet; */
  /* flex-direction: column; */
}

.card {
  width: 20vw;
  height: 50vh;
  background-image: url(../assets/card-frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2%;
  z-index: 2;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: aqua; */
}

#card1 {
  margin-left: 2%;

  /* opacity: 90%; */
}

.streamer {
  width: 70%;
  z-index: 3;
  position: absolute;
  left: 15%;
  top: 15%;
  /* box-shadow: 2px 2px 4px 0px #000;*/
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}

#card3 .streamer {
  height: 50%;
  width: auto;
  top: 7%;
  left: 17%;
}

.card h3 {
  font-family: "8-Bit";
  font-size: 1vmax;
  /* margin-top: calc(45% + 30px); Só 35% quebra o código na resolução notebook */
  /* background-color: red; */
}

.logos {
  height: 30%;
  width: 70%;
  margin-top: 65%;

  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: brown; */
}

.imagens_logos {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* background-color: blue; */
}
.youtube {
  height: 60%;
  /* background-color: aqua; */
  /* width: 50%; */
}

.youtube:hover {
  cursor: pointer;
  transform: scale(1.2);
}
