/* Fontes */
@font-face {
    font-family: "Arcade-In";
    src: url("../fonts/8-bit\ Arcade\ In.ttf") format("truetype");
}
  
@font-face {
    font-family: "Arcade-Out";
    src: url("../fonts/8-bit\ Arcade\ Out.ttf") format("truetype");
}
  
@font-face {
    font-family: "8-Bit";
    src: url("../fonts/Diary\ of\ an\ 8-bit\ mage.otf") format("truetype");
}
  
@font-face {
    font-family: "2-Player";
    src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200vh;
    background-image: url("../assets/stars-3.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* backdrop-filter: blur(2px); */
}

#conteudo {
    width: 100;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
  
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    position: relative;
    /* background-color: red; */
}
  
#matches_text {
    position: relative;
    display: inline;
}

  
#menu {
    width: 20%;
    color: white;
    font-family: "Arcade-In";
    font-size: 300%;
    position: absolute;
    left: 0;
    top:center;
}
  
#menu a {
    margin-left: 10%;
    margin-top: -5%;
    text-decoration: none;
    color: white;
}
  
#text_1 {
    font-family: "Arcade-In", sans-serif;
    font-size: 700%;
    color: white;
}
  
#text_2 {
    font-family: "Arcade-Out", sans-serif;
    font-size: 700%;
    color: purple;
    position: absolute;
    left: 0
}

/* QUIZ */

#quiz{
    height:70vh;
    width: 50vw;
    margin-top: 5vh;
    /* background-color: aquamarine; */
    position: relative;
    font-family: '2-Player';
    color: whitesmoke;
}

.elemento_quiz{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}

.pergunta{
    height: 20%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.respostas{
    height: 70%;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.respostas h4{
    font-size: 1vmax;
    width: 90%;
}

.next{
    width:90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: azure; */
    /* margin-left: -5%; */
}

.next h6{
    cursor: pointer;
}
/* FORM: */

.form_resposta{
    height: 80%;
    width: 80%;
}
.form_resposta input{
    margin-top: 5%;
}

.hidden{
    display: none;
}

/* FUNCAO QUIZ */
.green{
    background-color: green;
}

.red{
    background-color: red;
}

/* GRÁFICO */
#grafico{
    height: 100vh;
    width: 100%;
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: antiquewhite; */
}

#grafico_header{
    height: 10vw;
    width: 70vw;

    /* background-color: yellow; */
}

#grafico_conteudo{
    height: 80vh;
    width: 70vw;
    /* background-color: forestgreen; */
}

#grafico_botoes{
    height: 10vh;
    width: 70vw;
}