/* Fontes */
@font-face {
  font-family: "Arcade-In";
  src: url("../fonts/8-bit\ Arcade\ In.ttf") format("truetype");
}

@font-face {
  font-family: "Arcade-Out";
  src: url("../fonts/8-bit\ Arcade\ Out.ttf") format("truetype");
}

@font-face {
  font-family: "8-Bit";
  src: url("../fonts/Diary\ of\ an\ 8-bit\ mage.otf") format("truetype");
}

@font-face {
  font-family: "2-Player";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}

/* Site */
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.nao_wrap {
  white-space: nowrap;
}

/* Definindo plano de fundo */
.conteudo {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all_menu {
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Definindo imagem controle da musica */
#sound-image {
  height: 7vh;
  width: 6vw;
  position: absolute;
  left: 2%;
  top: 10%;
}

#sound-image:hover {
  cursor: pointer;
}

/* Definindo imagem de plano de fundo */
.background-imagem {
  display: flex;
  position: absolute;
  background-image: url("../assets/91656.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: -2;
  margin: 0;
  padding: 0;
  filter: blur(3px);
  height: 100%;
  width: 100%;
}


/* Definindo Imagem logo ChessBit */

.conteudo-imagem {
  background-image: url("../assets/Chess-Board-Cortado.png");
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  width: 30vw;
  margin-top: 5%;
}

/* Definindo Texto logo ChessBit */
.logos {
  height: 30vh;
  width: 30vw;
  display: flex;
  margin-bottom: 3%;
  margin-top: -5%;
  justify-content: center;
}

.conteudo-logo {
  font-family: "Arcade-in", sans-serif;
  font-size: 680%;
  color: white;
  z-index: 1;
  position: absolute;
  /* margin-left: 15%; */
}
.conteudo-logo2 {
  font-family: "Arcade-Out", sans-serif;
  position: absolute;
  z-index: 2;
  color: black;
  font-size: 680%;
  /* margin-left: 15%; */
}

/* Definindo opções do menu */
.conteudo-opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 30vw;
  position: relative;
  /* background-color: aqua; */
}

.options_text:hover {
  cursor: pointer;
}

.options {
  font-family: "2-Player", "8-bit";
  font-size: 2vmax;
  color: white;
  z-index: 1;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  /* background-color: red; */
}

.seta {
  height: 60%;
  /* display: none; */
  /* background-color: blueviolet; */
}

.options_text {
  margin-left: 2%;
  margin-top: 1.2%;
  -webkit-text-stroke: 1px #000;
}

.hidden {
  display: none;
  /* background-color: blue; */
}
